canvas{
  margin: auto;
}

#game {
  display: block;
  width: 60%;
  float: left;
}

#playerStats {
  display: block;
  float: right;
  width: 30%;
  border-radius: 2px;
  background: #1f1d31;
  height: 360px;
}

#stat-info{
  text-align: center;
  font-family: monospace;
  font-size: 1.5em;
  color: #06ff12;
}

#start-screen, #choose-character-screen{
  position: absolute;
  display: block;
  top:10px;
  left: 350px;
}

#choose-character-screen{
  z-index: 0;
}

#logo-div{
  position: absolute;
  top: 10px;
  left: 0px;
}

#start-button-div{
  position:absolute;
  top: 140px;
  left: 180px;
}

#start-button-div:hover{
  background-color: rgba(0,0,0,.5);
  border-radius: 10px;
  padding-right:5px;
}

#characters{
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#character-bio{
  font-family: monospace;
  font-size: 1.5em;
  color: #06ff12;
  position: absolute;
  max-width: 400px;
  text-align: center;
  top: 130px;
  left: 120px;
}

.dino{
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  max-width: 100px;
}

.unicorn{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  max-width: 100px;
}

.car-side{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  max-width: 200px;
}

.griffon{
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  max-width: 100px;
}
