canvas{
  margin: auto;
}

#game {
  display: block;
  width: 60%;
  float: left;
}

#leaderboard {
  display: block;
  float: right;
  width: 30%;
  border-radius: 2px;
  background: #1f1d31;
  height: 520px;
}

h1{
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  color: #06ff12;
}

ol{
  margin-left: 20px;
  text-align: center;
  font-family: monospace;
  font-size: 1.5em;
  color: #06ff12;
}
li{
  padding: 10px;
}

#start-screen, #choose-character-screen{
  background: #1f1d31;
  background-image: url("https://orig00.deviantart.net/9955/f/2015/365/b/5/space_port_by_kirokaze-d9m693z.gif");
  /* background-image: url("https://orig00.deviantart.net/8df9/f/2015/315/4/b/idolized_by_faxdoc-d9gb9al.gif"); */
  background-repeat: no-repeat, repeat;
  position: absolute;
  display: block;
  top:10px;
  left: 10px;
  width:60%;
  height: 520px;
}

#homescreen, #choose-character-background{
  display: none;
  position:absolute;
  left: 180px;
  top: 100px;
}

#choose-character-screen{
  z-index: 0;
}

#logo-div{
  position: absolute;
  top: 50px;
  left: 180px;
}

#start-button-div{
  position:absolute;
  top: 240px;
  left: 380px;
}

#start-button-div:hover{
  background-color: rgba(0,0,0,.5);
  border-radius: 10px;
  padding-right:5px;
}

#characters{
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#character-bio{
  font-family: monospace;
  font-size: 1.5em;
  color: #06ff12;
  position: absolute;
  max-width: 600px;
  text-align: center;
  top: 250px;
  left: 220px;
  background-color: rgba(0,0,0,.5);

}

.dino{
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  max-width: 100px;
}

.unicorn{
  padding: 50px;
  display: flex;
  justify-content: space-around;
  max-width: 100px;
}

.car-side{
  padding: 50px;
  display: flex;
  justify-content: space-around;
  max-width: 200px;
}

.griffon{
  padding: 50px;
  display: flex;
  justify-content: flex-end;
  max-width: 100px;
}

#game-over-form{
  position: absolute;
  left: 380px;
  top: 450px;
}

input[type="text"]{
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  color: #06ff12;
  background: #1f1d31;
  border: 1px solid #06ff12;
  padding: 10px;
  width: 100px;
}
button{
  font-family: monospace;
  color: #06ff12;
  background: #1f1d31;
  border: 1px solid #06ff12;
  padding: 10px;
  font-size: 2em;
  left: 80px;
}
